@model List<ResultContactDto>
@using HotelProject.Web.Helpers
@{
    ViewData["Title"] = "ReceiverMessage";
    Layout = "~/Areas/Admin/Views/Shared/_ContactLayout.cshtml";
}

<div class="email-right-box">
    <div role="toolbar" class="toolbar">
        <div class="btn-group">
            <button aria-expanded="false" data-toggle="dropdown" class="btn btn-dark dropdown-toggle" type="button">
                More <span class="caret m-l-5"></span>
            </button>
            <div class="dropdown-menu">
                <span class="dropdown-header">More Option :</span>  <a href="javascript: void(0);" class="dropdown-item">Mark as Unread</a>  <a href="javascript: void(0);" class="dropdown-item">Add to Tasks</a>  <a href="javascript: void(0);"
                                                                                                                                                                                                                       class="dropdown-item">Add Star</a>  <a href="javascript: void(0);" class="dropdown-item">Mute</a>
            </div>
        </div>
    </div>
    <div class="email-list m-t-15">
        @foreach(var item in Model)
        {
            <div class="message">
                <a href="email-read.html">
                    <div class="col-mail col-mail-1">
                        <div class="email-checkbox">
                            <input type="checkbox" id="chk2">
                            <label class="toggle" for="chk2"></label>
                        </div><span class="star-toggle ti-star"></span>
                    </div>
                    <div class="col-mail col-mail-2">
                        <div class="subject"><span><b>Kimden : </b> @item.SenderName </span><span><b>Konu : </b>@item.Subject</span></div>
                        <div class="date">@MyHelper.CalculateTimeAgo(item.Date)</div>
                    </div>
                </a>
            </div>
        }
    </div>
    <!-- panel -->
   
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
$(document).ready(function () {
    // /Admin/Contact/ReceiverMessage/ sayfasındaysanız bu kod çalışır
    if (window.location.pathname === "/Admin/Contact/ReceiverMessage/") {
      
            $('.list-group-item').removeClass('text-primary font-weight-bold');
            // Tıklanan öğeye text-primary sınıfını ekleyin
            $("#Gelen_Mesajlar").addClass('text-primary font-weight-bold');
    }
});
</script>