
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    @await Html.PartialAsync("HeadPartial")
</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">


       @await Html.PartialAsync("NavPartial")
     
        <!--**********************************
            Sidebar start
        ***********************************-->
       @await Html.PartialAsync("SidebarPartial")
        <!--**********************************
            Sidebar end
        ***********************************-->
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
               @RenderBody()
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        <!--**********************************
            Footer start
        ***********************************-->
        @await Html.PartialAsync("FooterPartial")
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    @RenderSection("ScriptWrite", required: false)
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
   @await Html.PartialAsync("ScriptsPartial")
   @RenderSection("ExtraScripts", required: false)

</body>
</html>

