@model List<ResultServiceDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_AdminLayout/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Responsive Table</h4>
                <div class="table-responsive">
                    <table class="table header-border">
                        <thead>
                            <tr>
                                <th>Hizmet İkonu</th>
                                <th>Hizmet Başlığı</th>
                                <th>Hizmet Açıklaması</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <img class="rounded-circle" src="~/adminweb/images/avatar/1.jpg" alt="">
                                    </td>
                                    <td>@item.Title</td>
                                    <td>
                                        <span class="text-muted">@item.Description</span>
                                    </td>
                                    <td>
                                        <a href="/Service/DeleteService/@item.ServiceID" class="btn mb-1 btn-rounded btn-danger">Sil</a>
                                        <a href="/Service/UpdateService/@item.ServiceID" class="btn mb-1 btn-rounded btn-dark">Düzenle</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="/Service/AddService/" class="btn btn-info">Yeni Hizmet Ekle</a>
                </div>
            </div>
        </div>
    </div>
</div>